body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}


.main-interior {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.news-header {
    padding-top: 4px;
    padding-bottom: 4px;
}

.inside-main {
    display: flex;
    flex-direction: row;
}

.contact-us-form {
    padding-left: 100px;
    min-width: 700px;
}

.list-group-item {
    max-width: 1000px;
}

#curator-feed-default-feed-layout {
    max-width: 1000px;
}

.nav-image {
    max-width: 40px;
    max-height: 40px;
}

.carousel {
    max-width: 100%;
}

nav {
    background-color: #8321bf;
}

.about-subheading {
    padding-top: 4px;
    padding-bottom: 4px;
}

.bq-0 {
    padding-top: 5px;
    max-width: 70ch;
}

.bq-1 {
    padding-top: 10px;
    max-width: 70ch;
}

.bq-2 {
    padding-top: 10px;
    max-width: 70ch;
}

.form-group-textarea {
    padding-bottom: 20px;
}

.timeline-page {
    display: flex;
    flex-direction: row;
}

.first-column {
    flex: 1;
    text-align: left;
    border: lavender 2px;
    margin-right: 15px;
    margin-top: 8px;
    margin-left: 4px;
}

.second-column {
    flex: 1.5;
    text-align: center;
    border: lavender 2px;
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.third-column {
    flex: 1;
    text-align: left;
    padding-top: 5px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 15px;
    border: lavender 2px;
}

.card {
    border-color: #8321bf !important;
    margin-left: 4px;
    margin-right: 4px;
}

.card-header {
    text-align: left;
}

.card-title {
    text-align: left;
}

.card-text {
    text-align: left;
}

.btn {
    border-color: white !important;
}

.list-group {
    text-align: left;
}

.politicians-header {
    text-align: left;
    padding-left: 15px;
}

.messaging-header {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.poll-header {
    padding-top: 15px;
    padding-left: 15px;
}

.btn-group {
    padding-top: 20px;
}

.author-name {
    float: right;
}